@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200&family=Raleway:wght@200;300;400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    /* color: rgb(241, 235, 235); */
    color: #181818;
}

.container{
    overflow: auto;
    clear: both;
    box-shadow: 0 2px 2px 0;
}

.logo h3{
    float: left;
    font-size: 3rem;
    font-weight: 400;
    line-height: 30px;
    margin: 25px 0 0 80px;
}

.logo h3 span{
    color: #ff5733;
    font-size: 25px;
    letter-spacing: 12px;
}

nav{
    float: right;
    margin-right: 60px;
}

ul li{
    display: inline-block;
    font-size: 20px;
    padding: 40px 25px;
    font-weight: 600;
}

ul li a{
    color: #181818;
    text-decoration: none;
    transition: .4s ease-in-out;
}

a.primary{
    color: #ff5733;
}

ul li a:hover{
    padding: 0 5px;
    text-transform: uppercase;
    text-decoration: underline;
}
/* nav ended */
.contactnow-container{
    width: 105rem;
    height: 50rem;
    margin: 60px 0 200px 152px;
}

.contactnow-container .left{
    float: left;
}

.contactnow-container span{
    font-size: 18px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    margin-left: 5px;
}

.contactnow-container h2{
    font-size: 60px;
    line-height: 60px;
    margin: 5px 0 40px 0;
}

.contactnow-container h2 b{
    font-family: 'Raleway', sans-serif;
    color: #ff5733;
    font-size: 65px;
    font-weight: 800;
}

.contact-form{
    height: 40rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.contact-form .heading{
    display: block;
    height: 30px;
    width: 580px;
    border-radius: 50px;
    background-color: #181818;
    color: white;
    font-size: 26px;
    padding: 8px 0 12px 15px;
    margin: 20px 0 10px 0;
}

.contact-form label{
    font-size: 18px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
}

.contact-form label.radio{
    margin-left: 10px;
}

.contact-form input{
    height: 40px;
    width: 580px;
    border-radius: 50px;
    border: 1px solid gray;
    margin: 10px 0 20px 0;
    padding: 5px 10px;
    font-size: 18px;
    outline: none;
}

.contact-form .secondry{
    width: 150px;
}

.contact-form .primary{
    width: 480px;
}

.contact-form select{
    height: 50px;
    width: 90px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
}

.contact-form textarea{
  width: 550px;  
  margin-top: 10px;
  padding: 20px;
  border-radius: 26px;
}

.contact-form .radio{
    width: 20px;
    height: 20px;
    margin: 0;
    translate: 0 5px;
}

.contact-form span{
    font-weight: 700;
}

.contact-form button{
    height: 50px;
    width: 140px;
    color: white;
    background-color: #ff5733;
    border: none;
    border-radius: 20px;
    margin: 30px 0 100px 0;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.contactnow-container img{
    width: 800px;
    float: right;
}
/* contact now ended */

.footer{
    height: 200px;
    position: relative;
    bottom: 0;
    padding: 15px 23rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    
}

.footer .col{
    display: inline-block;
    width: 19rem;
    height: 100%;
    margin-right: 5rem;
}

.footer .col p, .footer .col span{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    word-spacing: 2px;
    margin-bottom: 15px;
}

.footer .col h5{
    font-family: 'Raleway', sans-serif;
    color: #ff5733;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 20px;
}

.footer .col a{
    text-decoration: none;
    color: #181818;
    font-size: 14px;
    font-weight: 600;
}

.footer .col a img{
    width: 20px;
    translate: 0 5px;
    margin-right: 5px;
}

.footer .col button{
    height: 2.5rem;
    width: 9rem;
    background-color: #ff5733;
    border: none;
    color: white;
    font-weight: 600;
    margin-top: 41px;
    border-radius: 26px;
}

.footer .col .icons{
    width: 35px;
    border-radius: 8px;
    margin-left: 10px;
}
/* footer end  */